header{
position: fixed;
background-color: #f0f0f0;
padding: 10px;
z-index: 4;
left:100px;
}
body main{
    position: relative;
    top: 130px;
}
body main article{
position: absolute;
width: 60%;
max-width: 20px auto;
background-color: #e0e0e0;
padding: 15px;
z-index: 2;
left: 20px;
}

body main aside{
position: absolute;
top: 50px;
right: 20px;
width: 30%;
margin: 20px auto;
background-color:#D0D0D0 ;
Padding: 15px;
z-index: 1;
}

body footer{
position: fixed;
bottom: 0px;
background-color: #C0C0C0;
padding: 10px;
z-index: 3;
}

